p {
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  z-index: 2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(images/wood-tex.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  width: 100vw
  height: 100vh
}

.bg-image {
  height: 100%;
  width: 100%;

  margin: 0;
  position: absolute;
  left: 0px;
  top: 0px;

  z-index: -1;
}

.main-content {
  animation: rise-up 2000ms ease-in-out;
  height: 100%;
  width: 100%;

  z-index: 2;
}

@keyframes blur-bg {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(20px);
  }
}

@keyframes rise-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.floating-box {
  position: relative;
  max-width: 600px;
  padding: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: #000;

  border-radius: 20px;
}

.floating-box:before{
  content: '';

  background-image: url(images/wood-tex.JPG);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-attachment: fixed;

  filter: blur(20px);
}

