p {
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

body,
html {
  min-height: 100%;
}

.background-image-wood {
  background-image: url(images/uv-map.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  animation: rise-up 2000ms ease-in-out;
  height: 100%;
  width: 100%;
}

@keyframes rise-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.blurry-box {
  height: 80%;
  width: 80%;
  color: pink;
}
